<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Barrio' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Chathura' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Felipa' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Pirata One' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet'>


	<link rel="stylesheet" href="/bunkerbowl/css/main.css">

	<style>body {
	    margin: 10mm;
	}

	.page {
	    border: 0mm;
	    page-break-after: always;
	    display:block;
	    clear: both;
	}
	</style>

</head>
