---
layout: default
---

<h3>BB {{ page.season }}</h3>

{{ content }}

{% for row in site.data %}
  {% if row[0] == page.datapath %}
    <table class="games">
    {% assign teams = row[1].data | sort: '_tie_' %}
    {% for team in teams %}
      <tr>
        <td><img src="/bunkerbowl/assets/img/{{ team.logo1 }}" width="20" /></td>
        <td>{{ team._tie_ }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endfor %}



<p>Matcher</p>
{% for row in site.data %}
  {% if row[0] == page.datapath %}
    <table class="games">
      <tr>
        <th>Game</th>
        <th>TD</th>
        <th>CAS</th>
        <th>Type</th>
        <th>Gate</th>
        <th>Date</th>
      </tr>
    {% for match in row[1].games %}
    {% if match.home %}
      <tr>
        <td>
          {% if match.home == match.winner %}
            <b>{{ match.home }}</b>
          {% else %}
            {{ match.home }}
          {% endif %}
          -
          {% if match.away == match.winner %}
            <b>{{ match.away }}</b>
          {% else %}
            {{ match.away }}
          {% endif %}
        </td>
        <td>{{ match.home_TD }} - {{ match.away_TD }}</td>
        <td>{{ match.home_CAS }} - {{ match.away_CAS }}</td>
        <td>{{ match.type }}</td>
        <td>{{ match.Gate }}</td>
        <td>{{ match.Datum }}</td>
      </tr>
    {% endif %}
    {% endfor %}
    </table>
  {% endif %}
{% endfor %}
