<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	{% include header.html %}
	<main>
		<article>
			{{ content }}
			<a href="{{ page.outsideurl }}">{{ page.outsideurl }}</a>
		</article>
		{% include footer.html %}

	</main>
</body>

</html>
