
{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bunkerbowl</h5>
          <p class="card-text">
            Välkommen till Bunkerbowl, en liga i Lund där alla kan vara med för att det är roligt att slå på varandra.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
</div>

{% endblock %}
