
{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Regler</h4>
          <p class="card-text">
            Dessa regler gäller från och med Bunkerbowl 7.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  {% if data %}

  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            <ol style="list-style-type: lower-roman;">
              {% for g in groups %}
              <li>
                <h5>{{ g }}</h5>
                <ol>
                  {% for rule in data %}
                  {% if rule['grupp'] == g %}
                  <li>
                    <b>{{ rule['titel'] }}</b>: {{ rule['regel'] }}
                  </li>
                  {% endif %}
                  {% endfor %}
                </li>
              </ol>
              {% endfor %}
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  {% endif %}

</div>

{% endblock %}
