
{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Regler</h4>
          <p class="card-text">
            Dessa regler gäller från och med Bunkerbowl 7.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  {% if data %}

  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            <ol style="list-style-type: lower-roman;">
              {% for rule in data %}
              <li>
                <b>{{ rule['grupp'] }} / {{ rule['titel'] }}</b><br>
                {{ rule['regel'] }}
              </li>
              {% endfor %}
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  {% endif %}

</div>

{% endblock %}
