
{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bunkerbowl {{ season }}</h5>
          <p class="card-text">
            {% if season==3 %}
            <a href="{{ text }}">En rapport från Bunkerbowl säsong {{ season }} finns här.</a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>

  {% if sorted_teams %}

  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  <div class="row">
    <div class="col-sm" style="text-align: center;">
      <div class="alert alert-success" role="alert">
        <b>Tabell</b>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <table class="table table-sm table-scroll sortable">

              <thead>
                <tr>
                  <th scope="col" class="text-small">Namn</th>
                  <th scope="col" class="text-small">Matcher</th>
                  <th scope="col" class="text-small">Poäng</th>
                  <th scope="col" class="text-small">TD</th>
                  <th scope="col" class="text-small">CAS</th>
                </tr>
              </thead>
              <tbody>

                {% for team in sorted_teams %}
                <tr>
                  <td class="text-small">{{ teams[team].name }}</td>
                  <td class="text-small">{{ teams[team].matches }}</td>
                  <td class="text-small">{{ teams[team].points }}</td>
                  <td class="text-small">{{ teams[team].tdtot }} ({{ teams[team].td }}-{{ teams[team].tdminus }})</td>
                  <td class="text-small">{{ teams[team].castot }} ({{ teams[team].cas }}-{{ teams[team].casminus }})</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

  {% if data %}

  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  <div class="row">
    <div class="col-sm" style="text-align: center;">
      <div class="alert alert-success" role="alert">
        <b>Matcher</b>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <table class="table table-sm table-scroll sortable">

              <thead>
                <tr>
                  <th scope="col" class="text-small">Match</th>
                  <th scope="col" class="text-small">TD</th>
                  <th scope="col" class="text-small">CAS</th>
                  <th scope="col" class="text-small">type</th>
                  <th scope="col" class="text-small">Gate</th>
                  <th scope="col" class="text-small">Datum</th>
                </tr>
              </thead>
              <tbody>

                {% for game in data %}
                {% if game.home != "" %}
                <tr>
                  <td class="text-small">
                    {% if game['winner'] == game['home'] %}<b>{% endif %}
                    {{ game['home'] }}
                    {% if game['winner'] == game['home'] %}</b>{% endif %}
                    -
                    {% if game['winner'] == game['away'] %}<b>{% endif %}
                    {{ game['away'] }}
                    {% if game['winner'] == game['away'] %}</b>{% endif %}
                  </td>
                  <td class="text-small">{{ game['home TD'] }} - {{ game['away TD'] }}</td>
                  <td class="text-small">{{ game['home CAS'] }} - {{ game['away CAS'] }}</td>
                  <td class="text-small">{{ game['type'] }}</td>
                  <td class="text-small">{{ game['Gate'] }}</td>
                  <td class="text-small">{{ game['Datum'] }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

  <!-- Spacer -->
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
</div>

{% endblock %}
