
{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ team }}</h5>
          <p class="card-text">
            Säsong {{ season }}
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  <div class="row">

    <div class="col-sm" style="text-align: center;">
      <div class="alert alert-success" role="alert">
        <b>Spelare</b>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <table class="table table-sm table-scroll sortable">

              <thead>
                <tr>
                  <th scope="col" class="text-small">Nr</th>
                  <th scope="col" class="text-small" style="text-align: left;">Namn</th>
                  <th scope="col" class="text-small" style="text-align: left;">Position</th>
                  <th scope="col" class="text-small">MA</th>
                  <th scope="col" class="text-small">ST</th>
                  <th scope="col" class="text-small">AG</th>
                  <th scope="col" class="text-small">PA</th>
                  <th scope="col" class="text-small">AV</th>
                  <th scope="col" class="text-small" style="text-align: left;">Skills & Traits</th>
                  <th scope="col" class="text-small">Comp</th>
                  <th scope="col" class="text-small">Defl</th>
                  <th scope="col" class="text-small">Int</th>
                  <th scope="col" class="text-small">CAS</th>
                  <th scope="col" class="text-small">TD</th>
                  <th scope="col" class="text-small">MVP</th>
                  <th scope="col" class="text-small">SPP</th>
                  <th scope="col" class="text-small">Value</th>
                  <th scope="col" class="text-small" style="text-align: left;">Status</th>
                  <th scope="col" class="text-small" style="text-align: left;">Special</th>
                </tr>
              </thead>
              <tbody>

                {% for player in players %}
                {% if players[player]['MNG'] != "" or players[player]['TR'] != "" %}
                <tr style="background-color: rgb(211, 205, 205);">
                {% else %}
                <tr>
                {% endif %}
                  <td class="text-small">{{ players[player]['Nr'] }}</td>
                  <td class="text-small" style="text-align: left;">{{ players[player]['Name'] }}</td>
                  <td class="text-small" style="text-align: left;">{{ players[player]['Position'] }}</td>
                  <td class="text-small">{{ players[player]['MA'] }}</td>
                  <td class="text-small">{{ players[player]['ST'] }}</td>
                  <td class="text-small">{{ players[player]['AG'] }}</td>
                  <td class="text-small">{{ players[player]['PA'] }}</td>
                  <td class="text-small">{{ players[player]['AV'] }}</td>
                  <td class="text-small" style="text-align: left;">{{ players[player]['Skills'] }}</td>
                  <td class="text-small">{{ players[player]['COMP'] }}</td>
                  <td class="text-small">{{ players[player]['DEFL'] }}</td>
                  <td class="text-small">{{ players[player]['INT'] }}</td>
                  <td class="text-small">{{ players[player]['CAS'] }}</td>
                  <td class="text-small">{{ players[player]['TD'] }}</td>
                  <td class="text-small">{{ players[player]['MVP'] }}</td>
                  <td class="text-small">{{ players[player]['SPP'] }}/{{ players[player]['SPPearned'] }}</td>
                  <td class="text-small">{{ players[player]['Value'] }}</td>
                  <td class="text-small" style="text-align: left;">
                    {% if players[player]['MNG'] != "" %}
                    <img src="{{url_for('static', filename='ico-mng.png')}}" height="15" data-toggle="tooltip" data-placement="top" title="Miss Next Game">
                    {% endif %}
                    {% if players[player]['TR'] != "" %}
                    <img src="{{url_for('static', filename='ico-tr.png')}}" height="15" data-toggle="tooltip" data-placement="top" title="Temporarily Retired Player">
                    {% endif %}
                    {% if players[player]['Nigg'] != "" %}
                    {% set niggling = players[player]['Nigg'] | int %}
                    {% for a in range(niggling) %}
                    <img src="{{url_for('static', filename='ico-niggling.png')}}" height="15" data-toggle="tooltip" data-placement="top" title="Niggling Injury">
                    {% endfor %}
                    {% endif %}
                  </td>
                  <td class="text-small" style="text-align: left;">{{ players[player]['Special'] }}</td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
