
{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bunkerbowl</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  <div class="row">
    { % for game in data % }
    <div class="col-sm" style="text-align: center;">
      <div class="alert alert-success" role="alert">
        <b>Matcher</b>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            {% for game in data %}
              {% if game.home != "" %}
              {{ game.home }} - {{ game.away }}<br>
              {% endif %}
            {% endfor %}
            </div>
        </div>
      </div>
    </div>
    { % endfor % }
  </div>

  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  {% for skill in skills %}
              <!-- <a data-toggle="collapse" href="#details-{{ skill.title | replace(' ', '-') }}" role="button" aria-expanded="false" aria-controls="details-{{ skill.title | replace(' ', '-') }}">
                <img src="{{url_for('static', filename=skill.icon)}}" height=45 width=45 data-toggle="tooltip" data-placement="top" title="{{ skill.title }}"></a> -->
  <div class="row">
    <div class="col-sm collapse" id="details-{{ skill.title | replace(' ', '-') }}">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a data-toggle="collapse" href="#details-{{ skill.title | replace(' ', '-') }}" role="button" aria-expanded="false" aria-controls="details-{{ skill.title | replace(' ', '-') }}">
              {{ skill.title }}
            </a>
          </h5>
          <p class="card-text"><img src="{{url_for('static', filename=skill.icon)}}" height=150></p>
          {% for detailitems in skill.details %}
            {% for key, text in detailitems.items() %}
            <p class="card-text"><b>{{ key }}: </b>{{ text }}</p>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-sm"><p></p>
    </div>
  </div>
</div>

{% endblock %}
