
{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ team }}</h5>
          <p class="card-text">
            Säsong {{ season }}<br>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  {% if teamdata %}

  <div class="row">
    <div class="col-sm" style="text-align: center;">
      <div class="alert alert-success" role="alert">
        <b>Laget</b>
      </div>
    </div>
  </div>


  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  <div class="row">

    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body" class="text-small">
            <table class="table table-sm">
              <tr>
                <td class="text-small">Spelbara spelare</td>
                <td class="text-small">{{ teamdata['spelbara'] }}</td>
                <td class="text-small" style="width: 80%">
                  <div class="progress" style="height: 13px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ teamdata['spelbara'] / 16 * 100 }}%" aria-valuenow="{{ teamdata['spelbara'] / 16 * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-small">Dedicated Fans</td>
                <td class="text-small">{{ teamdata['dedicatedfans'] }}</td>
                <td class="text-small" style="width: 80%">
                  <div class="progress" style="height: 13px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ teamdata['dedicatedfans'] / 7 * 100 }}%" aria-valuenow="{{ teamdata['dedicatedfans'] / 7 * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-small">Re-rolls</td>
                <td class="text-small">{{ teamdata['rerolls'] }}</td>
                <td class="text-small" style="width: 80%">
                  <div class="progress" style="height: 13px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ teamdata['rerolls'] / 8 * 100 }}%" aria-valuenow="{{ teamdata['rerolls'] / 8 * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-small">cheerleaders</td>
                <td class="text-small">{{ teamdata['cheerleaders'] }}</td>
                <td class="text-small" style="width: 80%">
                  <div class="progress" style="height: 13px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ teamdata['cheerleaders'] / 12 * 100 }}%" aria-valuenow="{{ teamdata['cheerleaders'] / 12 * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-small">assistantcoaches</td>
                <td class="text-small">{{ teamdata['assistantcoaches'] }}</td>
                <td class="text-small" style="width: 80%">
                  <div class="progress" style="height: 13px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ teamdata['assistantcoaches'] / 6 * 100 }}%" aria-valuenow="{{ teamdata['assistantcoaches'] / 6 * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-small">apothecaries</td>
                <td class="text-small">{{ teamdata['apothecaries'] }}</td>
                <td class="text-small" style="width: 80%">
                  <div class="progress" style="height: 13px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ teamdata['apothecaries'] / 1 * 100 }}%" aria-valuenow="{{ teamdata['apothecaries'] / 1 * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm" style="text-align: center;">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <img src="{{ teamdata['logo'] }}" height="160">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <table class="table table-sm">
              <tr>
                <td class="text-small">Team</td>
                <td class="text-small">{{ teamdata['team'] }}</td>
              </tr>
              <tr>
                <td class="text-small">Hemvist</td>
                <td class="text-small">{{ teamdata['place'] }}</td>
              </tr>
              <tr>
                <td class="text-small">Hempitch</td>
                <td class="text-small">{{ teamdata['pitch'] }}</td>
              </tr>
              <tr>
                <td class="text-small">Coach</td>
                <td class="text-small">{{ teamdata['owner'] }}</td>
              </tr>
              <tr>
                <td class="text-small">Treasury</td>
                <td class="text-small">{{ teamdata['treasury'] }}</td>
              </tr>
              <tr>
                <td class="text-small">Team Value</td>
                <td class="text-small">{{ teamdata['tv'] }}</td>
              </tr>
              <tr>
                <td class="text-small">Current Team Value</td>
                <td class="text-small">{{ teamdata['ctv'] }}</td>
              </tr>
              <tr>
                <td class="text-small">Totalt Star Player Points</td>
                <td class="text-small">{{ teamdata['spp'] }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Spacer -->
  <div class="row"><div class="col-sm"><p></p></div></div>

  <div class="row">

    <div class="col-sm" style="text-align: center;">
      <div class="alert alert-success" role="alert">
        <b>Spelarna</b>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <table class="table table-sm table-scroll sortable">

              <thead>
                <tr>
                  <th scope="col" class="text-small">Nr</th>
                  <th scope="col" class="text-small" style="text-align: left;">Namn</th>
                  <th scope="col" class="text-small" style="text-align: left;">Position</th>
                  <th scope="col" class="text-small">MA</th>
                  <th scope="col" class="text-small">ST</th>
                  <th scope="col" class="text-small">AG</th>
                  <th scope="col" class="text-small">PA</th>
                  <th scope="col" class="text-small">AV</th>
                  <th scope="col" class="text-small" style="text-align: left;">Skills & Traits</th>
                  <th scope="col" class="text-small">Comp</th>
                  <th scope="col" class="text-small">Defl</th>
                  <th scope="col" class="text-small">Int</th>
                  <th scope="col" class="text-small">CAS</th>
                  <th scope="col" class="text-small">TD</th>
                  <th scope="col" class="text-small">MVP</th>
                  <th scope="col" class="text-small">SPP</th>
                  <th scope="col" class="text-small">Value</th>
                  <th scope="col" class="text-small" style="text-align: left;">Status</th>
                  <th scope="col" class="text-small" style="text-align: left;">Special</th>
                </tr>
              </thead>
              <tbody>

                {% for player in players %}
                {% if players[player]['MNG'] != "" or players[player]['TR'] != "" %}
                <tr style="background-color: rgb(211, 205, 205);">
                {% else %}
                <tr>
                {% endif %}
                  <td class="text-small">{{ players[player]['Nr'] }}</td>
                  <td class="text-small" style="text-align: left;">{{ players[player]['Name'] }}</td>
                  <td class="text-small" style="text-align: left;">{{ players[player]['Position'] }}</td>
                  <td class="text-small">{{ players[player]['MA'] }}</td>
                  <td class="text-small">{{ players[player]['ST'] }}</td>
                  <td class="text-small">{{ players[player]['AG'] }}</td>
                  <td class="text-small">{{ players[player]['PA'] }}</td>
                  <td class="text-small">{{ players[player]['AV'] }}</td>
                  <td class="text-small" style="text-align: left;">{{ players[player]['Skills'] }}</td>
                  <td class="text-small">{{ players[player]['COMP'] }}</td>
                  <td class="text-small">{{ players[player]['DEFL'] }}</td>
                  <td class="text-small">{{ players[player]['INT'] }}</td>
                  <td class="text-small">{{ players[player]['CAS'] }}</td>
                  <td class="text-small">{{ players[player]['TD'] }}</td>
                  <td class="text-small">{{ players[player]['MVP'] }}</td>
                  <td class="text-small">{{ players[player]['SPP'] }}/{{ players[player]['SPPearned'] }}</td>
                  <td class="text-small">{{ players[player]['Value'] }}</td>
                  <td class="text-small" style="text-align: left;">
                    {% if players[player]['MNG'] != "" %}
                    <img src="{{url_for('static', filename='ico-mng.png')}}" height="15" data-toggle="tooltip" data-placement="top" title="Miss Next Game">
                    {% endif %}
                    {% if players[player]['TR'] != "" %}
                    <img src="{{url_for('static', filename='ico-tr.png')}}" height="15" data-toggle="tooltip" data-placement="top" title="Temporarily Retired Player">
                    {% endif %}
                    {% if players[player]['Nigg'] != "" %}
                    {% set niggling = players[player]['Nigg'] | int %}
                    {% for a in range(niggling) %}
                    <img src="{{url_for('static', filename='ico-niggling.png')}}" height="15" data-toggle="tooltip" data-placement="top" title="Niggling Injury">
                    {% endfor %}
                    {% endif %}
                  </td>
                  <td class="text-small" style="text-align: left;">{{ players[player]['Special'] }}</td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% else %}
  <div class="row">
    <div class="col-sm" style="text-align: center;">
      <div class="alert alert-warning" role="alert">
        Error! Kan inte hitta fliken med namnet "{{ team }}" i google sheets dokumentet.
      </div>
    </div>
  </div>

  {% endif %}

</div>

{% endblock %}
